{% extends 'layout.html' %}
    {% block big_heading %}<h1>Jokes for: {{ month|upper }}</h1>{% endblock big_heading %}
    {% block body_content %}
    <main style="min-height: 70vh" class="d-flex">
        <div class="container w-50 m-auto">
            <div class="card">
                <div class="card-body p-5 text-center">
                    {{ content }}
                </div>
                <div class="card-footer p-3 d-flex justify-content-between">
                    <a href="{{ prev }}" class="btn btn-dark text-white">
                        ≤≤- Previous
                    </a>
                    <a href="." class="btn btn-dark text-white">
                        Home
                    </a>
                    <a href="{{ next }}" class="btn btn-dark text-white">
                        Next -≥≥
                    </a>
                </div>
            </div>
        </div>
    </main>
    {% endblock body_content %}